*{
    font-family: 'Spartan', sans-serif;
}

body{
    background-image: url("../images/trainbackgroun_unsplash.jpg");
    background-position: 90%;
}

.container{
        width: 90%;
        margin:auto;
}

.card{
    padding: 20px;
    margin: 20px 0px;
}

.table{
    border: 5px black solid;
    padding:10px;
    background-color:#F24D2A;
    opacity: 0.9;
}

.thead-light{
    width: auto;
}

.form{
    border: 5px black solid;
    padding:10px;
    background-color: seagreen;
    opacity: 0.9;
    margin-bottom: 20px;
}